<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Title</title>
    <!--axios cdn 추가 -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
<h4>폼 전송 - 실습</h4>
<form id="userInfo">
    <fieldset>
        <label for="name">이름</label>
        <input type="text" id="name" name="name">
        <br>
        <label for="gender">성별</label>
        <div id="gender">
            <input type="radio" name="gender" value="남자"> 남자
            <input type="radio" name="gender" value="여자"> 여자
        </div>
        <label for="birth">생년월일</label>
        <div id="birth">
            <select name="year" id="year">
                <option th:each="num : ${#numbers.sequence(1950,2023)}" th:text="${num}"></option>
            </select>
            <select name="month" id="month">
                <option th:each="num : ${#numbers.sequence(1,12)}" th:text="${num}"></option>
            </select>
            <select name="date" id="date">
                <option th:each="num : ${#numbers.sequence(1,31)}" th:text="${num}"></option>
            </select>
        </div>
        <label for="hobby">관심사</label>
        <div id="hobby">
            <input type="checkbox" name="hobby" value="여행">여행
            <input type="checkbox" name="hobby" value="패션">패션
            <input type="checkbox" name="hobby" value="음식">음식
        </div>
    </fieldset>
    <button type="button" onclick="formSubmitGet()">회원가입 - GET</button>
    <button type="button" onclick="formSubmitPost()">회원가입 - POST</button>
</form>
<script>
    function formSubmitGet() {
    const form = document.getElementById("userInfo");
    axios
        .get(
            `/axios/prac/vo/get?name=${form.name.value}&gender=${form.gender.value}&year=${form.year.value}&month=${form.month.value}&date=${form.date.value}&hobby=${form.hobby.value}`
        )
        .then((res) => {
            console.log(res);
            console.log("실습 9 AXIOS - GET : ", res.data);
            });
    }
    function formSubmitPost() {
        const form = document.getElementById("userInfo");
        axios
            .post(`/axios/prac/vo/post`, {
                name: form.name.value,
                gender: form.gender.value,
                year: form.year.value,
                month: form.month.value,
                date: form.date.value,
                hobby: form.hobby.value,
            })
            .then((res) => {
                console.log(res);
                console.log("실습 9 AXIOS - POST : ", res.data);
            });
    }

</script>
</body>
</html>